html,
body,
#app {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

	/* Fill the whole window */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	/* Overridden in Dark Mode */
	background-color: white;
	color: black;
}

html,
body,
#app {
	background-color: #252525;
	color: white;
}

.on-air-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-size: 20vw;
}

.on-air-text {
	vertical-align: middle;
}

.on-air-dot {
	width: 1ch;
	height: 1ch;
	border: 0.25ch solid rgba(255, 50, 50, 0.25);
	background-clip: padding-box;
	border-radius: 100%;
	margin-right: 0.5ch;
}

.on-air-dot[data-full='true'] {
	background-color: red;
}

.on-air-dot[data-outline='true'] {
	border-color: red;
}

.on-air-container {
	animation: pulse 1s ease-in-out 0s infinite alternate;
}

@keyframes pulse {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}
