html,
body,
#app {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

	/* Fill the whole window */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	/* Overridden in Dark Mode */
	background-color: white;
	color: black;
}

html,
body,
#app {
	background-color: #252525;
	color: white;
}

.on-air-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-size: 20vw;
	opacity: 0.5;
}

.on-air-text {
	vertical-align: middle;
}

.on-air-dot {
	width: 1ch;
	height: 1ch;
	border: 0.25ch solid rgba(255, 50, 50, 0.25);
	border-radius: 100%;
	margin-right: 0.5ch;
}

.on-air-dot[data-full='true'] {
	background-color: red;
}

.on-air-dot[data-outline='true'] {
	border-color: red;
}

.on-air-dot[data-full='true']:not([data-outline='true']) {
	/* Only do this when we need it because it causes a very slight gap between the border and the background */
	background-clip: padding-box;
}

.on-air-container.pulsing {
	animation: pulse 1s ease-in-out 0s infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
	.on-air-container.pulsing {
		animation: none !important;
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

.control-panel {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.control-panel-button {
	height: 75vh;
	width: 45vw;
	background: none;
	border: 4px solid white;
	border-radius: 5%;
	color: white;
	font-size: 8vw;
	box-shadow: none;
	outline: none;
}

.control-panel-button:hover {
	background-color: #404040;
}

body:not(.debug-no-hover):hover .no-hover,
body.debug-force-hover .no-hover,
body:not(.debug-force-hover):not(:hover) .only-hover,
body.debug-no-hover .only-hover {
	display: none !important;
}
